USE [master]
GO
/****** Object:  Database [QUAN_LY_NHA_HANG]    Script Date: 2/18/2019 4:21:14 PM ******/
CREATE DATABASE [QUAN_LY_NHA_HANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUAN_LY_NHA_HANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QUAN_LY_NHA_HANG.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUAN_LY_NHA_HANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QUAN_LY_NHA_HANG_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUAN_LY_NHA_HANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUAN_LY_NHA_HANG]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 2/18/2019 4:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[id_ban] [int] IDENTITY(1,1) NOT NULL,
	[b_soban] [int] NULL,
	[b_trangthai] [bit] NULL,
	[b_hoadon_phucvu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietDatBan]    Script Date: 2/18/2019 4:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDatBan](
	[id_ctdatban] [int] IDENTITY(1,1) NOT NULL,
	[ctdb_soluong] [int] NULL,
	[ctdb_dongia] [float] NULL,
	[id_monan] [int] NOT NULL,
	[id_hoadon] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietDatBan_1] PRIMARY KEY CLUSTERED 
(
	[id_ctdatban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietPhieu]    Script Date: 2/18/2019 4:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieu](
	[id_ctphieu] [int] IDENTITY(1,1) NOT NULL,
	[ctp_soluong] [int] NULL,
	[ctp_gia] [int] NULL,
	[id_phieu] [int] NOT NULL,
	[id_nguyenlieu] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietPhieu_1] PRIMARY KEY CLUSTERED 
(
	[id_ctphieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CongThuc]    Script Date: 2/18/2019 4:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongThuc](
	[id_congthuc] [int] IDENTITY(1,1) NOT NULL,
	[ct_soluong] [float] NULL,
	[id_nguyenlieu] [int] NOT NULL,
	[id_monan] [int] NOT NULL,
 CONSTRAINT [PK_CongThuc_1] PRIMARY KEY CLUSTERED 
(
	[id_congthuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 2/18/2019 4:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[id_hoadon] [int] IDENTITY(1,1) NOT NULL,
	[hd_ngaydat] [date] NULL,
	[hd_trangthai] [bit] NULL,
	[hd_ghichu] [nvarchar](50) NULL,
	[id_nhanvien] [int] NULL,
	[id_ban] [int] NULL,
	[id_khachhang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_hoadon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 2/18/2019 4:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[id_khachhang] [int] IDENTITY(1,1) NOT NULL,
	[kh_ho] [nvarchar](50) NULL,
	[kh_ten] [nvarchar](10) NULL,
	[kh_email] [nvarchar](50) NULL,
	[kh_diachi] [nvarchar](100) NULL,
	[kh_dienthoai] [varchar](10) NULL,
	[kh_ghichu] [nvarchar](50) NULL,
 CONSTRAINT [PK__KhachHan__63966DBDE7ED9771] PRIMARY KEY CLUSTERED 
(
	[id_khachhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiMonAn]    Script Date: 2/18/2019 4:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiMonAn](
	[id_loaimonan] [int] IDENTITY(1,1) NOT NULL,
	[lma_ten] [nvarchar](100) NULL,
	[lma_mota] [nvarchar](max) NULL,
 CONSTRAINT [PK__LoaiMonA__4E1B54D65CC13AFF] PRIMARY KEY CLUSTERED 
(
	[id_loaimonan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 2/18/2019 4:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[id_monan] [int] IDENTITY(1,1) NOT NULL,
	[ma_ten] [nvarchar](50) NULL,
	[ma_dongia] [float] NULL,
	[ma_hinh] [nvarchar](50) NULL,
	[ma_trangthai] [nvarchar](50) NULL,
	[ma_noidung] [nvarchar](255) NULL,
	[id_loaimonan] [int] NULL,
 CONSTRAINT [PK__MonAn__F9E0C3F82BE7A1E1] PRIMARY KEY CLUSTERED 
(
	[id_monan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 2/18/2019 4:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[id_nguyenlieu] [int] IDENTITY(1,1) NOT NULL,
	[nl_ten] [nvarchar](50) NULL,
	[nl_donvitinh] [nvarchar](20) NULL,
	[nl_soluong] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_nguyenlieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 2/18/2019 4:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[id_nhacungcap] [int] IDENTITY(1,1) NOT NULL,
	[ncc_ten] [nvarchar](50) NULL,
	[ncc_email] [varchar](100) NULL,
	[ncc_dienthoai] [varchar](10) NULL,
	[ncc_diachi] [nvarchar](100) NULL,
 CONSTRAINT [PK__NhaCungC__C34B24EB6C0F6914] PRIMARY KEY CLUSTERED 
(
	[id_nhacungcap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 2/18/2019 4:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[id_nhanvien] [int] IDENTITY(1,1) NOT NULL,
	[nv_ho] [nvarchar](50) NULL,
	[nv_ten] [nvarchar](50) NULL,
	[nv_email] [varchar](50) NULL,
	[nv_password] [nvarchar](20) NULL,
	[nv_diachi] [nvarchar](100) NULL,
	[nv_trangthai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_nhanvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuNhapTra]    Script Date: 2/18/2019 4:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapTra](
	[id_phieu] [int] IDENTITY(1,1) NOT NULL,
	[pnt_ngaylap] [date] NULL,
	[pnt_loaiphieu] [nvarchar](50) NULL,
	[id_nhanvien] [int] NULL,
	[id_nhacungcap] [int] NULL,
 CONSTRAINT [PK__PhieuNha__5B0F708317DC4D3A] PRIMARY KEY CLUSTERED 
(
	[id_phieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Ban] ON 

INSERT [dbo].[Ban] ([id_ban], [b_soban], [b_trangthai], [b_hoadon_phucvu]) VALUES (1, 1, 0, NULL)
INSERT [dbo].[Ban] ([id_ban], [b_soban], [b_trangthai], [b_hoadon_phucvu]) VALUES (2, 2, 0, NULL)
INSERT [dbo].[Ban] ([id_ban], [b_soban], [b_trangthai], [b_hoadon_phucvu]) VALUES (3, 3, 0, NULL)
SET IDENTITY_INSERT [dbo].[Ban] OFF
SET IDENTITY_INSERT [dbo].[CongThuc] ON 

INSERT [dbo].[CongThuc] ([id_congthuc], [ct_soluong], [id_nguyenlieu], [id_monan]) VALUES (1, 0.05, 15, 10)
INSERT [dbo].[CongThuc] ([id_congthuc], [ct_soluong], [id_nguyenlieu], [id_monan]) VALUES (2, 0.05, 14, 10)
INSERT [dbo].[CongThuc] ([id_congthuc], [ct_soluong], [id_nguyenlieu], [id_monan]) VALUES (4, 0.1, 11, 10)
SET IDENTITY_INSERT [dbo].[CongThuc] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([id_khachhang], [kh_ho], [kh_ten], [kh_email], [kh_diachi], [kh_dienthoai], [kh_ghichu]) VALUES (1, N'Hoàng', N'Minh', N'minh@gmail.com', N'Quận 12', N'012365496', N'khách hàng vui tính')
INSERT [dbo].[KhachHang] ([id_khachhang], [kh_ho], [kh_ten], [kh_email], [kh_diachi], [kh_dienthoai], [kh_ghichu]) VALUES (2, N'Trương Ánh', N'Dương', N'duong@gmail.com', N'Quận 7', N'056878965', N'khách hàng khó tính')
INSERT [dbo].[KhachHang] ([id_khachhang], [kh_ho], [kh_ten], [kh_email], [kh_diachi], [kh_dienthoai], [kh_ghichu]) VALUES (4, N'Nguyễn ', N'Hoa Mai', N'hoamai@gmail.com', N'Quận 8', N'0356897545', N'thích ăn phở')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[LoaiMonAn] ON 

INSERT [dbo].[LoaiMonAn] ([id_loaimonan], [lma_ten], [lma_mota]) VALUES (2, N'Cơm', N'Cơm bình dân với nhiều món ăn đa dạng, phong phú. ')
INSERT [dbo].[LoaiMonAn] ([id_loaimonan], [lma_ten], [lma_mota]) VALUES (3, N'Món nước', N'Gồm các món như: bún, mì, miến, phở ')
INSERT [dbo].[LoaiMonAn] ([id_loaimonan], [lma_ten], [lma_mota]) VALUES (4, N'Nước giải khát', N'Các loại nước giải khát như nước có gas, nước mía, nước sâm,...')
SET IDENTITY_INSERT [dbo].[LoaiMonAn] OFF
SET IDENTITY_INSERT [dbo].[MonAn] ON 

INSERT [dbo].[MonAn] ([id_monan], [ma_ten], [ma_dongia], [ma_hinh], [ma_trangthai], [ma_noidung], [id_loaimonan]) VALUES (1, N'Phở bò', 35000, N'phobo.jpg', N'đang kinh doanh', N'phở thơm ngon, bánh phở mềm dai, bò tươi mới', 3)
INSERT [dbo].[MonAn] ([id_monan], [ma_ten], [ma_dongia], [ma_hinh], [ma_trangthai], [ma_noidung], [id_loaimonan]) VALUES (2, N'Hủ tiếu', 35000, N'hutieu.jpg', N'đang kinh doanh', N'hủ tiếu nam vang, hương vị quê hương ', 3)
INSERT [dbo].[MonAn] ([id_monan], [ma_ten], [ma_dongia], [ma_hinh], [ma_trangthai], [ma_noidung], [id_loaimonan]) VALUES (6, N'Cơm bò xào', 25000, N'comboxao.jpg', N'ngừng kinh doanh', N'cơm bò xào với hạt cơm dẻo, bò tươi kết hợp với các loại rau củ ', 2)
SET IDENTITY_INSERT [dbo].[MonAn] OFF
SET IDENTITY_INSERT [dbo].[NguyenLieu] ON 

INSERT [dbo].[NguyenLieu] ([id_nguyenlieu], [nl_ten], [nl_donvitinh], [nl_soluong]) VALUES (1, N'thịt bò', N'kg', 50)
INSERT [dbo].[NguyenLieu] ([id_nguyenlieu], [nl_ten], [nl_donvitinh], [nl_soluong]) VALUES (2, N'thịt heo', N'kg', 50)
INSERT [dbo].[NguyenLieu] ([id_nguyenlieu], [nl_ten], [nl_donvitinh], [nl_soluong]) VALUES (3, N'thịt càng cua ', N'kg', 40)
SET IDENTITY_INSERT [dbo].[NguyenLieu] OFF
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([id_nhacungcap], [ncc_ten], [ncc_email], [ncc_dienthoai], [ncc_diachi]) VALUES (1, N'Công ty Nông Sản ABC', N'nongsanABC@gmail.com', N'0123656589', N'Quận 7, TP HCM')
INSERT [dbo].[NhaCungCap] ([id_nhacungcap], [ncc_ten], [ncc_email], [ncc_dienthoai], [ncc_diachi]) VALUES (2, N'Công ty Thực Phẩm tổng hợp BoHeo', N'thucphamboheo@gmail.com', N'0185456323', N'Quận Tân Bình, TP HCM')
INSERT [dbo].[NhaCungCap] ([id_nhacungcap], [ncc_ten], [ncc_email], [ncc_dienthoai], [ncc_diachi]) VALUES (3, N'Công ty Hải Sản Nam Bộ HS', N'haisanhs@gmail.com', N'0236564578', N'Huyện Cần Giờ, TP HCM')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([id_nhanvien], [nv_ho], [nv_ten], [nv_email], [nv_password], [nv_diachi], [nv_trangthai]) VALUES (1, N'Nguyễn ', N'Hồng', N'hong@gmail.com', N'123456', N'quận 2', 1)
INSERT [dbo].[NhanVien] ([id_nhanvien], [nv_ho], [nv_ten], [nv_email], [nv_password], [nv_diachi], [nv_trangthai]) VALUES (2, N'Mai', N'Lan', N'lan@gmail.com', N'456789', N'quận 3', 1)
INSERT [dbo].[NhanVien] ([id_nhanvien], [nv_ho], [nv_ten], [nv_email], [nv_password], [nv_diachi], [nv_trangthai]) VALUES (3, N'Vũ Ngọc', N'Trúc', N'truc@gmail.com', N'123789', N'quận 1', 0)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
SET IDENTITY_INSERT [dbo].[PhieuNhapTra] ON 

INSERT [dbo].[PhieuNhapTra] ([id_phieu], [pnt_ngaylap], [pnt_loaiphieu], [id_nhanvien], [id_nhacungcap]) VALUES (1, CAST(N'2019-02-01' AS Date), N'Nhập', 1, 2)
INSERT [dbo].[PhieuNhapTra] ([id_phieu], [pnt_ngaylap], [pnt_loaiphieu], [id_nhanvien], [id_nhacungcap]) VALUES (2, CAST(N'2019-02-01' AS Date), N'Xuất', 1, 2)
INSERT [dbo].[PhieuNhapTra] ([id_phieu], [pnt_ngaylap], [pnt_loaiphieu], [id_nhanvien], [id_nhacungcap]) VALUES (3, CAST(N'2019-02-02' AS Date), N'Nhập', 2, 1)
SET IDENTITY_INSERT [dbo].[PhieuNhapTra] OFF
ALTER TABLE [dbo].[ChiTietDatBan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDatBan_HoaDon] FOREIGN KEY([id_hoadon])
REFERENCES [dbo].[HoaDon] ([id_hoadon])
GO
ALTER TABLE [dbo].[ChiTietDatBan] CHECK CONSTRAINT [FK_ChiTietDatBan_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietDatBan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDatBan_MonAn1] FOREIGN KEY([id_monan])
REFERENCES [dbo].[MonAn] ([id_monan])
GO
ALTER TABLE [dbo].[ChiTietDatBan] CHECK CONSTRAINT [FK_ChiTietDatBan_MonAn1]
GO
ALTER TABLE [dbo].[ChiTietPhieu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieu_NguyenLieu] FOREIGN KEY([id_nguyenlieu])
REFERENCES [dbo].[NguyenLieu] ([id_nguyenlieu])
GO
ALTER TABLE [dbo].[ChiTietPhieu] CHECK CONSTRAINT [FK_ChiTietPhieu_NguyenLieu]
GO
ALTER TABLE [dbo].[ChiTietPhieu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieu_PhieuNhapTra] FOREIGN KEY([id_phieu])
REFERENCES [dbo].[PhieuNhapTra] ([id_phieu])
GO
ALTER TABLE [dbo].[ChiTietPhieu] CHECK CONSTRAINT [FK_ChiTietPhieu_PhieuNhapTra]
GO
ALTER TABLE [dbo].[CongThuc]  WITH CHECK ADD  CONSTRAINT [FK_CongThuc_MonAn] FOREIGN KEY([id_monan])
REFERENCES [dbo].[MonAn] ([id_monan])
GO
ALTER TABLE [dbo].[CongThuc] CHECK CONSTRAINT [FK_CongThuc_MonAn]
GO
ALTER TABLE [dbo].[CongThuc]  WITH CHECK ADD  CONSTRAINT [FK_CongThuc_NguyenLieu] FOREIGN KEY([id_nguyenlieu])
REFERENCES [dbo].[NguyenLieu] ([id_nguyenlieu])
GO
ALTER TABLE [dbo].[CongThuc] CHECK CONSTRAINT [FK_CongThuc_NguyenLieu]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Ban] FOREIGN KEY([id_ban])
REFERENCES [dbo].[Ban] ([id_ban])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Ban]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([id_khachhang])
REFERENCES [dbo].[KhachHang] ([id_khachhang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([id_nhanvien])
REFERENCES [dbo].[NhanVien] ([id_nhanvien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [FK_MonAn_LoaiMonAn] FOREIGN KEY([id_loaimonan])
REFERENCES [dbo].[LoaiMonAn] ([id_loaimonan])
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [FK_MonAn_LoaiMonAn]
GO
ALTER TABLE [dbo].[PhieuNhapTra]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapTra_NhaCungCap] FOREIGN KEY([id_nhacungcap])
REFERENCES [dbo].[NhaCungCap] ([id_nhacungcap])
GO
ALTER TABLE [dbo].[PhieuNhapTra] CHECK CONSTRAINT [FK_PhieuNhapTra_NhaCungCap]
GO
ALTER TABLE [dbo].[PhieuNhapTra]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapTra_NhanVien] FOREIGN KEY([id_nhanvien])
REFERENCES [dbo].[NhanVien] ([id_nhanvien])
GO
ALTER TABLE [dbo].[PhieuNhapTra] CHECK CONSTRAINT [FK_PhieuNhapTra_NhanVien]
GO
USE [master]
GO
