<section id="container">
  <!--header start-->
  <header class="header fixed-top clearfix">
      <!--logo start-->
      <div class="brand">

          <a href="/dashboard/ban-hang" class="logo">
              LOGO
          </a>
          <div class="sidebar-toggle-box">
              <div class="fa fa-bars"></div>
          </div>
      </div>
      <!--logo end-->
      <div class="row">
          <div class="h1 text-info mt-3 ml-sm-5 ten-nha-hang">Tên nhà hàng ABC</div>
          <div class="top-nav ml-auto clearfix">
              <!--search & user info start-->
              <ul class="nav pull-right top-menu">
                  <li>
                      <input type="text" class="form-control search" placeholder=" Search">
                  </li>
                  <!-- user login dropdown start-->
                  <li class="dropdown mt-1">
                      <a data-toggle="dropdown" class="dropdown-toggle py-2 px-1" href="#">
                          <img alt="" src="/assets/images/2.png">
                          <span class="username">John Doe</span>
                          <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu extended logout">
                          <li><a href="#"><i class=" fa fa-suitcase"></i>Tài khoản</a></li>
                          <li><a href="/login"><i class="fa fa-key"></i>Đăng xuất</a></li>
                      </ul>
                  </li>
                  <!-- user login dropdown end -->

              </ul>
              <!--search & user info end-->
          </div>
      </div>

  </header>
  <!--header end-->
  <!--sidebar start-->
  <aside>
      <div id="sidebar" class="nav-collapse">
          <!-- sidebar menu start-->
          <div class="leftside-navigation">
              <ul class="sidebar-menu" id="nav-accordion">
                  <li>
                      <a routerLink="/dashboard/ban-hang">
                          <i class="fa fa-building-o"></i>
                          <span>Bán hàng</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/dashboard/hang-hoa">
                          <i class="fa fa-book"></i>
                          <span>Sản phẩm</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/dashboard/hoa-don">
                          <i class="fa fa-book"></i>
                          <span>Hóa đơn</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;">
                          <i class="fa fa-th"></i>
                          <span>Thống kê</span>
                      </a>
                      <ul class="sub">
                          <li><a routerLink="/dashboard/thong-ke">Món ăn</a></li>
                          <li><a routerLink="/dashboard/thong-ke">Hóa đơn</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
          <!-- sidebar menu end-->
      </div>
  </aside>
  <!--sidebar end-->
  <!--main content start-->
  <router-outlet></router-outlet>
  <!--main content end-->
</section>



